<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Records"
        tools:targetApi="31">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Records" />

        <!-- Default Icon Alias -->
        <activity-alias
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_default"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_default_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Dairy Logo -->
        <activity-alias
            android:name=".MainActivityDiary"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_diary"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_diary_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

         <!-- Glassmorphic Logo -->
        <activity-alias
            android:name=".MainActivityGlassmorphic"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_glassmorphic"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_glassmorphic_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <!-- Liquid_glass Logo -->
        <activity-alias
            android:name=".MainActivityLiquidGlass"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_liquid_glass"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_liquid_glass_round"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>